<% extend('header') %>
<html>
    <head>
        <script>
            function add_article(){
                location.href = "/board/add_article";
            }
            function del(message){
                location.href = "/board/delete?No="+message;
            }
            function edit(message){
                location.href = "/board/edit?No="+message;
            }
            function popup(message){
                location.href = "/board/info?No="+message;
            }
        </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
        <body>
            
            <table class='table'>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>이미지</th>
                        <th>날짜</th>
                        <th>시간</th>
                        <th>지우기/수정하기</th>
                    </tr>
                </thead>
                <% if (article ==0){%>
                    <td colspan="7">해당 게시판에 게시글이 없습니다.</td>
                <%}else{%>
                <% for (i in article){ %>
                <tr onclick="popup('<%=article[i].No%>')">
                    <td><%=article[i].No%></td>
                    <td width="100"><%=article[i].title%>(<%=comment_num[i].cnt%>)</td>
                    <td><%=article[i].author%></td>
                    <td>
                        <img src="<%=article[i].image%>" width="20">
                    </td>
                    <td>
                        <%=article[i].date.toString().substring(4,15)%>
                    </td>
                    <td>
                        <%=article[i].time%>
                        
                    </td>
                    <td>
                    <button type= "button" onclick="del('<%=article[i].No%>')">지우기</button> 
                    <% if (session.post_id == article[i].author){%>
                    <button type= "button" onclick="edit('<%=article[i].No%>')">수정하기</button>
                    <%}%>
                </td>
                </tr>
                <% } %>
                <% } %>

            </table>
            <div class="text-center">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
            </div>
            <button type="button" onclick="add_article()">글 추가하기</button>
                
        </body>
        <%- include('./nav.ejs') %>
        
</html>