<!DOCTYPE html>
<html>
    <head>
        <script>
            function car_list(){
                location.href ="/manager/car_list";
            }; 
        </script>
    </head>
        <body>
            <table border ="1">
                <tr>
                    <th>차량번호</th>
                    <th>차량소속</th>
                    <th>차량종류</th>
                    <th>차량연식</th>
                    <th>차량검사일</th>
                    <th>차량검사결과</th>
                </tr>
                    <td><%=car[0].car_id%></td>
                    <td><%=car[0].car_div%></td>
                    <td><%=car[0].car_type%></td>
                    <td><%=car[0].car_birth%></td>
                    <td><%=car[0].car_day%></td>
                    <td><%=car[0].car_result%></td>
                </tr>
            </table>
            <button type="button" onclick="car_list()">car_list</button>
        </body>
</html>